html/dev/layout/checkout-content.html

<section>
  <div class="checkout-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <div class="left-block">
              <p>Оформление заказа<span>Настоящим подтверждаю, что я ознакомлен и согласен с условиями<a>политики конфиденциальности</a></span></p>
              <div class="input">
                <label>Введите имя</label>
                <input type="text" placeholder="Иван Иванов"/>
              </div>
              <div class="input">
                <label>Введите e-mail</label>
                <input type="email" placeholder="example@mail.com"/>
              </div>
              <div class="input">
                <label>Введите телефон</label>
                <input type="tel" placeholder="+7 (495) 000 - 00 - 00"/>
              </div>
              <div class="textarea">
                <label>Комментарии</label>
                <textarea placeholder="Пожелания..."></textarea>
              </div>
              <div class="radio-buttons">
                <div class="radio-button">
                  <input id="online" type="radio" name="payment"/>
                  <label for="online">Онлайн</label>
                </div>
                <div class="radio-button">
                  <input id="cash" type="radio" name="payment"/>
                  <label for="cash">Наличные</label>
                </div>
              </div>
            </div>
            <div class="right-block">
              <div class="items">
                <div class="item">
                  <div class="image"><img src="img/photo-1.webp" alt="#"/><a data-fancybox="data-fancybox" href="img/photo-1.webp"></a></div>
                  <div class="name">
                    <p>Krabi</p>
                    <div class="tags">
                      <div class="tag">Винный</div>
                      <div class="tag">S | 33x53x20см | 35л | 2.6 кг</div>
                    </div>
                  </div>
                  <div class="price">2 390<i class="icon-ruble"></i></div>
                </div>
              </div>
              <div class="total">
                <p class="price">Итого:<strong>2 390,00<i class="icon-ruble"></i></strong></p><a class="button" href="#">Оформить заказ</a>
              </div>
            </div>
          </form>
          <div class="desc">
            <h2>Страхование багажа</h2>
            <div class="items">
              <div class="item">
                <p>Только с компанией Mateza Вы будите уверены в сохранности вашего багажа. Так как мы страхуем Вас:</p>
                <ol>
                  <li>Сроком до 1 года;</li>
                  <li>Территория страхования - весь мир;</li>
                  <li>Стоимость чемодана ровна страховой сумме, не включая доставку/или обмен на новый товар.</li>
                </ol>
              </div>
            </div>
            <ul class="buttons">
              <li><a class="button" href="#">Подробнее<i class="icon-up-arrow"></i></a></li>
            </ul>
          </div>
          <div class="desc">
            <h2>Доставим Ваш заказ:</h2>
            <div class="items">
              <div class="item">
                <p class="title">Москва, МО.</p>
                <p><strong>Стоимость доставки по Москве – 350 руб.<br/>По МО – от 550 руб. в зависимости от расстояния.<br/>Бесплатно доставляем заказы от – 5000 руб. по Москве и МО.</strong></p>
                <ul>
                  <li>домой, в офис собственной службой доставки Mateza или службами доставки Gett Delivery, Dostavista;</li>
                  <li>на дальние расстояния по МО - службой доставки Boxberry.</li>
                </ul>
              </div>
              <div class="item">
                <p class="title">По России.</p>
                <p><strong>Стоимость рассчитывается индивидуально.</strong></p>
                <ul>
                  <li>домой или в офис службами доставки СDEK, Boxberry в кратчайшие сроки;</li>
                  <li>в сеть пунктов выдачи Почта России.</li>
                </ul>
              </div>
            </div>
            <ul class="buttons">
              <li><a class="button" href="#">Подробнее<i class="icon-up-arrow"></i></a></li>
              <li><a class="button" href="#" data-toggle="modal" data-target=".calculate">Рассчитать стоимость<i class="icon-suitcase"></i></a></li>
            </ul>
          </div>
          <div class="desc">
            <h2>Оплата</h2>
            <div class="items">
              <div class="item">
                <p><strong>ОПЛАТА ПРИ<br/>ПОЛУЧЕНИИ ЗАКАЗА</strong></p>
                <p>Вы можете оплатить товар наличными или банковской картой при получении*.</p>
              </div>
              <div class="item">
                <p><strong>ОПЛАТА ЧЕРЕЗ<br/>ОНЛАЙН ИНВОЙСИНГ МОДУЛЬБАНК</strong></p>
                <p>Выставляем счет всего за пару минут благодаря простой форме*.</p>
              </div>
              <div class="item">
                <p><strong>ОПЛАТА БАНКОВСКОЙ<br/>КАРТОЙ НА САЙТЕ</strong></p>
                <p>Вы можете оплатить товар банковской картой в момент оформления заказа на сайте*.</p>
              </div>
            </div>
            <ul class="buttons">
              <li><a class="button" href="#">Подробнее<i class="icon-up-arrow"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

html/dev/pug/layout/checkout-content.pug
section
	.checkout-page
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form
						.left-block
							p Оформление заказа
								span Настоящим подтверждаю, что я ознакомлен и согласен с условиями
									a политики конфиденциальности
							.input
								label Введите имя
								input(type="text" placeholder="Иван Иванов")
							.input
								label Введите e-mail
								input(type="email" placeholder="example@mail.com")
							.input
								label Введите телефон
								input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
							.textarea
								label Комментарии
								textarea(placeholder="Пожелания...")
							.radio-buttons
								.radio-button
									input#online(type="radio" name="payment")
									label(for="online") Онлайн
								.radio-button
									input#cash(type="radio" name="payment")
									label(for="cash") Наличные
						.right-block
							.items
								.item
									.image
										img(src="img/photo-1.webp", alt="#")
										a(data-fancybox, href="img/photo-1.webp")
									.name
										p Krabi
										.tags
											.tag
												| Винный
											.tag
												| S | 33x53x20см | 35л | 2.6 кг
									.price
										| 2 390
										i.icon-ruble
							.total
								p.price Итого:
									strong 2 390,00
										i.icon-ruble
								a.button(href="#") Оформить заказ
					.desc
						h2 Страхование багажа
						.items
							.item
								p Только с компанией Mateza Вы будите уверены в сохранности вашего багажа. Так как мы страхуем Вас:
								ol
									li Сроком до 1 года;
									li Территория страхования - весь мир;
									li Стоимость чемодана ровна страховой сумме, не включая доставку/или обмен на новый товар.
						ul.buttons
							li
								a.button(href="#") Подробнее
									i.icon-up-arrow
					.desc
						h2 Доставим Ваш заказ:
						.items
							.item
								p.title Москва, МО.
								p
									strong Стоимость доставки по Москве – 350 руб.
										br
										| По МО – от 550 руб. в зависимости от расстояния.
										br
										| Бесплатно доставляем заказы от – 5000 руб. по Москве и МО.
								ul
									li домой, в офис собственной службой доставки Mateza или службами доставки Gett Delivery, Dostavista;
									li на дальние расстояния по МО - службой доставки Boxberry.
							.item
								p.title По России.
								p
									strong Стоимость рассчитывается индивидуально.
								ul
									li домой или в офис службами доставки СDEK, Boxberry в кратчайшие сроки;
									li в сеть пунктов выдачи Почта России.
						ul.buttons
							li
								a.button(href="#") Подробнее
									i.icon-up-arrow
							li
								a.button(href="#" data-toggle="modal" data-target=".calculate") Рассчитать стоимость
									i.icon-suitcase
					.desc
						h2 Оплата
						.items
							.item
								p
									strong ОПЛАТА ПРИ
										br
										| ПОЛУЧЕНИИ ЗАКАЗА
								p Вы можете оплатить товар наличными или банковской картой при получении*.
							.item
								p
									strong ОПЛАТА ЧЕРЕЗ
										br
										| ОНЛАЙН ИНВОЙСИНГ МОДУЛЬБАНК
								p Выставляем счет всего за пару минут благодаря простой форме*.
							.item
								p
									strong ОПЛАТА БАНКОВСКОЙ
										br
										| КАРТОЙ НА САЙТЕ
								p Вы можете оплатить товар банковской картой в момент оформления заказа на сайте*.
						ul.buttons
							li
								a.button(href="#") Подробнее
									i.icon-up-arrow
