html/dev/pug/layout/footer.pug
footer
	.container-fluid
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				ul.menu
					li
						a(href="#") Главная
					li
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Страхование багажа
					li
						a(href="#") Контакты
				.left-block
					a.logo(href="#")
						img(src="img/logo.png", alt="#")
					p
						img(src="img/rus.webp", alt="#")
						| Russia
				.right-block
					ul.tel
						li
							a.icon-telegram(href="#")
						li
							a.icon-viber(href="#")
						li
							a.icon-whatsapp(href="#")
						li
							a(href="tel:88005511602") 8 800 551 16 02
					ul.soc
						li
							a.icon-vk(href="#")
						li
							a.icon-facebook(href="#")
						li
							a.icon-twitter(href="#")
						li
							a.icon-instagram(href="#")
				p.copyright © ООО «Матеза» 2018. Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение
					br
					| (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя.
a.cart.icon-cart(href="#")
	sup 2
.modal.fade.modal-form(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			form
				p Lorem ipsum dolor.
				.input
					label Введите имя
					input(type="text" placeholder="Иван Иванов")
				.input
					label Введите e-mail
					input(type="email" placeholder="example@mail.com")
				.input
					label Введите телефон
					input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
				.input
					input(type="submit" value="Отправить")
.modal.fade.calculate(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			.left-block
				img(src="img/mail.jpeg", alt="#")
			.right-block
				form
					p Рассчитать стоимость доставки по России
					.input
						label Введите имя
						input(type="text" placeholder="Иван Иванов")
					.input
						label Введите e-mail
						input(type="email" placeholder="example@mail.com")
					.input
						label Введите телефон
						input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
					.input
						label Введите точный адрес доставки
						input(type="text" placeholder="101000, г. Москва, ул. Кравченко, д.123, кв.1,")
					.input
						input(type="submit" value="Рассчитать")
					p Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности.
.modal.fade.checkout-modal(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			form
				.left-block
					p Оформление заказа
						span Настоящим подтверждаю, что я ознакомлен и согласен с условиями
							a политики конфиденциальности
					.input
						label Введите имя
						input(type="text" placeholder="Иван Иванов")
					.input
						label Введите e-mail
						input(type="email" placeholder="example@mail.com")
					.input
						label Введите телефон
						input(type="tel" placeholder="+7 (495) 000 - 00 - 00")
					.textarea
						label Комментарии
						textarea(placeholder="Пожелания...")
					.radio-buttons
						.radio-button
							input#online(type="radio" name="payment")
							label(for="online") Онлайн
						.radio-button
							input#cash(type="radio" name="payment")
							label(for="cash") Наличные
				.right-block
					.items
						.item
							.image
								img(src="img/photo-1.webp", alt="#")
								a(data-fancybox, href="img/photo-1.webp")
							.name
								p Krabi
								.tags
									.tag
										| Винный
									.tag
										| S | 33x53x20см | 35л | 2.6 кг
							.price
								| 2 390
								i.icon-ruble
					.total
						p.price Итого:
							strong 2 390,00
								i.icon-ruble
						a.button(href="#") Оформить заказ
.modal.fade.video-modal(role='dialog')
	.modal-dialog.modal-lg
		.modal-content
			a(href="#", class="close icon-remove", data-dismiss="modal", aria-hidden="true")
			.video
				video(src="img/mateza-Prints.mp4")

html/dev/layout/footer.html

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Страхование багажа</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <div class="left-block"><a class="logo" href="#"><img src="img/logo.png" alt="#"/></a>
          <p><img src="img/rus.webp" alt="#"/>Russia</p>
        </div>
        <div class="right-block">
          <ul class="tel">
            <li><a class="icon-telegram" href="#"></a></li>
            <li><a class="icon-viber" href="#"></a></li>
            <li><a class="icon-whatsapp" href="#"></a></li>
            <li><a href="tel:88005511602">8 800 551 16 02</a></li>
          </ul>
          <ul class="soc">
            <li><a class="icon-vk" href="#"></a></li>
            <li><a class="icon-facebook" href="#"></a></li>
            <li><a class="icon-twitter" href="#"></a></li>
            <li><a class="icon-instagram" href="#"></a></li>
          </ul>
        </div>
        <p class="copyright">© ООО «Матеза» 2018. Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение<br/>(в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя.</p>
      </div>
    </div>
  </div>
</footer><a class="cart icon-cart" href="#"><sup>2</sup></a>
<div class="modal fade modal-form" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content"><a class="close icon-remove" href="#" data-dismiss="modal" aria-hidden="true"></a>
      <form>
        <p>Lorem ipsum dolor.</p>
        <div class="input">
          <label>Введите имя</label>
          <input type="text" placeholder="Иван Иванов"/>
        </div>
        <div class="input">
          <label>Введите e-mail</label>
          <input type="email" placeholder="example@mail.com"/>
        </div>
        <div class="input">
          <label>Введите телефон</label>
          <input type="tel" placeholder="+7 (495) 000 - 00 - 00"/>
        </div>
        <div class="input">
          <input type="submit" value="Отправить"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade calculate" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><a class="close icon-remove" href="#" data-dismiss="modal" aria-hidden="true"></a>
      <div class="left-block"><img src="img/mail.jpeg" alt="#"/></div>
      <div class="right-block">
        <form>
          <p>Рассчитать стоимость доставки по России</p>
          <div class="input">
            <label>Введите имя</label>
            <input type="text" placeholder="Иван Иванов"/>
          </div>
          <div class="input">
            <label>Введите e-mail</label>
            <input type="email" placeholder="example@mail.com"/>
          </div>
          <div class="input">
            <label>Введите телефон</label>
            <input type="tel" placeholder="+7 (495) 000 - 00 - 00"/>
          </div>
          <div class="input">
            <label>Введите точный адрес доставки</label>
            <input type="text" placeholder="101000, г. Москва, ул. Кравченко, д.123, кв.1,"/>
          </div>
          <div class="input">
            <input type="submit" value="Рассчитать"/>
          </div>
          <p>Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности.</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade checkout-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><a class="close icon-remove" href="#" data-dismiss="modal" aria-hidden="true"></a>
      <form>
        <div class="left-block">
          <p>Оформление заказа<span>Настоящим подтверждаю, что я ознакомлен и согласен с условиями<a>политики конфиденциальности</a></span></p>
          <div class="input">
            <label>Введите имя</label>
            <input type="text" placeholder="Иван Иванов"/>
          </div>
          <div class="input">
            <label>Введите e-mail</label>
            <input type="email" placeholder="example@mail.com"/>
          </div>
          <div class="input">
            <label>Введите телефон</label>
            <input type="tel" placeholder="+7 (495) 000 - 00 - 00"/>
          </div>
          <div class="textarea">
            <label>Комментарии</label>
            <textarea placeholder="Пожелания..."></textarea>
          </div>
          <div class="radio-buttons">
            <div class="radio-button">
              <input id="online" type="radio" name="payment"/>
              <label for="online">Онлайн</label>
            </div>
            <div class="radio-button">
              <input id="cash" type="radio" name="payment"/>
              <label for="cash">Наличные</label>
            </div>
          </div>
        </div>
        <div class="right-block">
          <div class="items">
            <div class="item">
              <div class="image"><img src="img/photo-1.webp" alt="#"/><a data-fancybox="data-fancybox" href="img/photo-1.webp"></a></div>
              <div class="name">
                <p>Krabi</p>
                <div class="tags">
                  <div class="tag">Винный</div>
                  <div class="tag">S | 33x53x20см | 35л | 2.6 кг</div>
                </div>
              </div>
              <div class="price">2 390<i class="icon-ruble"></i></div>
            </div>
          </div>
          <div class="total">
            <p class="price">Итого:<strong>2 390,00<i class="icon-ruble"></i></strong></p><a class="button" href="#">Оформить заказ</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade video-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><a class="close icon-remove" href="#" data-dismiss="modal" aria-hidden="true"></a>
      <div class="video">
        <video src="img/mateza-Prints.mp4"></video>
      </div>
    </div>
  </div>
</div>
